# Python cache
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Virtual environment folders
venv/
env/

# Logs
*.log

# Temporary files
*.tmp
*.swp
*.bak

# VSCode settings
.vscode/
